<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand title-size" ng-href="#/home" draggable="false">WebStyle</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/home" draggable="false">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/producthome" draggable="false">Product Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/cart" draggable="false">Cart Page</a>
                </li>
                <li class="nav-item m-0 p-0">
                    <a class="nav-link nav-text-size" ng-href="#!/profile" draggable="false"><i
                            class="icon-size fa-regular fa-user color-white" draggable="false"></i></a>
                </li>
                <li class="nav-item m-0 p-0">
                    <a class="nav-link nav-text-size" ng-href="#/login" draggable="false"><i
                            class="icon-size fa-solid fa-right-to-bracket color-white" draggable="false"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>       
<div style="display: flex; flex-direction: columns; justify-content: center; align-items: center;">
    <div ng-controller="controllerprofile" class="profile-container">
        <div class="profile-header text-center">
            <h1 class="profile-title">Profile Settings</h1>
            <p class="profile-subtitle">Manage your personal information</p>
        </div>

        <div ng-if="!editMode" class="fade-enter fade-enter-active">
            <div class="profile-image-container d-flex justify-content-center mb-4">
                <img ng-src="{{profile.imageUrl}}" alt="Profile Picture" class="profile-image">
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <div class="view-field">{{user.name}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <div class="view-field">{{user.email}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <div class="view-field">{{user.phoneno}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <div class="view-field">{{user.address}}</div>
            </div>
            <div class="buttons-container">
                <button class="btn btn-success w-100" ng-click="toggleEdit()">Edit Profile</button>
            </div>
        </div>

        <form ng-if="editMode" ng-submit="saveChanges()" class="fade-enter fade-enter-active">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" ng-model="editProfile.name" required ng-pattern="/^[a-zA-Z\s]*$/" name="name" class="form-control">
                <span class="error-message" ng-show="editForm.name.$error.pattern">
                Name can only contain letters and spaces
            </span>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" ng-model="editProfile.email" required name="email" class="form-control">
                <span class="error-message" ng-show="editForm.email.$error.email">
                Please enter a valid email address
            </span>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="phone" ng-model="editProfile.phone" required name="phone" class="form-control">
                <span class="error-message" ng-show="editForm.phone.$error.phone">
                Please enter a valid Phone Number
            </span>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" ng-model="editProfile.password" required ng-minlength="8" name="password" class="form-control">
                <span class="error-message" ng-show="editForm.password.$error.minlength">
                Password must be at least 8 characters long
            </span>
            </div>
            <div class="buttons-container">
                <button type="submit" class="btn btn-success w-50">Save Changes</button>
                <button type="button" class="btn btn-danger w-50" ng-click="cancelEdit()">Cancel</button>
            </div>
        </form>
    </div>
        </div>
