<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand title-size" ng-href="#/home" draggable="false">WebStyle</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/home" draggable="false">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/producthome" draggable="false">Product Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/cart" draggable="false">Cart Page</a>
                </li>
                <li class="nav-item m-0 p-0">
                    <a class="nav-link nav-text-size" ng-href="#!/profile" draggable="false"><i
                            class="icon-size fa-regular fa-user color-white" draggable="false"></i></a>
                </li>
                <li class="nav-item m-0 p-0">
                    <a class="nav-link nav-text-size" ng-href="#/login" draggable="false"><i
                            class="icon-size fa-solid fa-right-to-bracket color-white" draggable="false"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5" ng-controller="controllerproductdetail">
    <div class="row">
        <div class="col-md-6">
            <img src="storage/image/{{ products.image }}" 
                 class="img-fluid mb-3" 
                 alt="{{ products.name }}">
        </div>
        <div class="col-md-6">
            <h1>{{ products.name }}</h1>
            <h2>Rp. {{ products.price }}</h2>
            <p>{{ products.description }}</p>

            <form ng-submit="addItemToCart(products, quantity)">
                <div class="d-flex gap-3 mb-3">
                    <input type="number" class="form-control" ng-model="quantity" min="1" required>
                    <button type="submit" class="btn btn-dark">Add to Cart</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Comments and Ratings</h3>
            <form ng-submit="commentRating()">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <input type="number" id="rating" class="form-control" ng-model="rating" min="1" max="5" required>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment:</label>
                    <textarea id="comment" class="form-control" ng-model="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="mt-4">
                <h4>Previous Comments</h4>
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="review in reviews">
                        <h5 class="d-flex justify-content-between">
                            <span>{{ review.username }}</span>
                            <span>{{ review.rating }} Stars</span>
                        </h5>
                        <p>{{ review.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

