<button class="hamburger" onclick="toggleSidebar()">☰</button>
<div class="container">
    <div class="sidebar">
        <h3 class="text-center text-white py-3 display-6">Admin Dashboard</h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <strong>User Options</strong>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item"><a href="#!/admin/ulist" class="nav-link">User list</a></li>
                </ul>
            </li>
            <li class="nav-item mt-4">
                <strong>Product Options</strong>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item"><a href="#!/admin/plist" class="nav-link">Product List</a></li>
                    <li class="nav-item"><a href="#!/admin/product" class="nav-link">Add Product</a></li>
                </ul>
            </li>
            <li class="nav-item mt-4">
                <strong>Tips & Trik Options</strong>
                <ul class="nav flex-column ms-3">
                    <li class="nav-item"><a href="#!/admin/ttlist" class="nav-link">Tips & Trik List</a></li>
                    <li class="nav-item"><a href="#!/admin/tipstrik" class="nav-link">Add Tips & Trik</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-controller="controlleradminttlist">
        <h1 class="mt-5">Tips & Trik List</h1>

        <div ng-if="tips.length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tip Name</th>
                        <th>Description</th>
                        <th>Week Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tip in tips">
                        <td>{{ tip._id }}</td>
                        <td>{{ tip.name }}</td>
                        <td>{{ tip.description }}</td>
                        <td>{{ tip.week_number }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="tips.length === 0">
            <p>No tips found.</p>
        </div>
    </div>
</div>
