<div class="container">
    <h2>Add New Product</h2>
    <!-- 'name' => 'required|string|max:255',
        'description' => 'nullable|string',
        'category' => 'required|string',
        'brand' => 'nullable|string',
        'price' => 'required|numeric|min:0',
        'stock' => 'required|integer|min:0', -->
    <form ng-submit="createProduct()">
        <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" id="productName" ng-model="product.name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="productCategory" class="form-label">Category</label>
            <input type="text" id="productCategory" ng-model="product.category" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <textarea id="productDescription" ng-model="product.description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="productPrice" class="form-label">Price</label>
            <input type="number" id="productPrice" ng-model="product.price" class="form-control" required>
        </div>


        <div class="mb-3">
            <label for="productStock" class="form-label">Product Stock</label>
            <input type="number" id="product.stock" ng-model="product.stock" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-dark ">Add Product</button>
    </form>
</div>