<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand title-size" ng-href="#/home" draggable="false">WebStyle</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/home" draggable="false">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/producthome" draggable="false">Product Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text-size" ng-href="#!/cart" draggable="false">Cart Page</a>
                </li>
                <li class="nav-item m-0 p-0">
                    <a class="nav-link nav-text-size" ng-href="#!/profile" draggable="false"><i
                            class="icon-size fa-regular fa-user color-white" draggable="false"></i></a>
                </li>
                <li class="nav-item m-0 p-0">
                    <a class="nav-link nav-text-size" ng-href="#/login" draggable="false"><i
                            class="icon-size fa-solid fa-right-to-bracket color-white" draggable="false"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="display: flex; flex-direction: columns; justify-content: center; align-items: center;">
    <div ng-controller="controllerprofile" class="profile-container">
        <div class="profile-header text-center">
            <h1 class="profile-title">Profile Settings</h1>
            <p class="profile-subtitle">Manage your personal information</p>
        </div>

    
            <div class="mb-3">
                <label class="form-label">Name</label>
                <div class="view-field">{{user.name}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <div class="view-field">{{user.email}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <div class="view-field">{{user.phoneno}}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Address</label>
                <div class="view-field">{{user.address}}</div>
            </div>
            <div class="buttons-container">
                <button class="btn btn-success w-100" ng-click="toggleEdit()">Edit Profile</button>
            </div>
        </div>
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" ng-model="editUser.name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" ng-model="editUser.email">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="phone" ng-model="editUser.phoneno">
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" ng-model="editUser.address">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="saveProfile()">Save</button>
                    </div>
                </div>
            </div>
        </div>

      
    </div>
</div>